In [1]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
examplesDf = pd.read_csv(filepath_or_buffer='../../datasets/test.csv', header=None)
examplesDf['class'] = examplesDf[22]
examplesDf['#pointId'] = examplesDf.index
examplesDf

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,class,#pointId
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,...,0,0,0,0,1,0,0,A,A,0
1,0.049349,0.486667,0.918966,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,...,0,0,0,0,0,1,0,A,A,1
2,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,...,0,0,0,0,1,0,0,A,A,2
3,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,...,0,0,0,0,1,0,0,A,A,3
4,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.00,0.00,0.0,...,0,0,0,0,1,0,0,A,A,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653452,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.00,0.00,0.0,...,0,0,0,0,0,0,1,A,A,653452
653453,0.035678,0.007556,0.132759,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,...,0,1,0,0,0,1,0,N,N,653453
653454,0.000168,0.019556,0.025172,0.000000,0.0,0.0,0.0,0.09,0.29,0.0,...,0,0,0,0,1,0,0,N,N,653454
653455,0.000217,0.018667,0.028966,0.011905,1.0,0.0,0.0,0.10,0.30,0.0,...,0,0,0,0,1,0,0,N,N,653455
653456,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.00,0.00,0.0,...,0,0,0,0,0,0,1,A,A,653456

In [26]:
countPerClass = examplesDf.groupby('class').count()[['#pointId']]
print("Count per class")
print(countPerClass)
countPerClass

Count per class
       #pointId
class
A        447179
N        206278

       #pointId
class
A        447179
N        206278

In [3]:
matchesDf = pd.read_csv(filepath_or_buffer='../../out/serial.csv')
matchesDf

,#pointId,clusterLabel,clusterId,clusterRadius,label,distance,secondDistance
0,0,N,18,1.826296,N,0.600331,1.316728
1,1,N,19,1.026340,N,0.486099,1.401786
2,2,N,18,1.826296,N,0.600331,1.316728
3,3,N,18,1.826296,N,0.600331,1.316728
4,4,N,18,1.826296,N,0.594241,1.163103
...,...,...,...,...,...,...,...
653452,653452,N,12,1.393900,N,0.099933,1.831068
653453,653453,N,2,1.162884,N,0.553567,2.285989
653454,653454,N,59,1.070721,N,0.067446,0.618182
653455,653455,N,79,0.358526,N,0.081240,0.121118
653456,653456,N,12,1.393900,N,0.099933,1.831068

In [4]:
examplesDf['#pointId'] = examplesDf.index
df = pd.merge(matchesDf, examplesDf, on='#pointId')
df

,#pointId,clusterLabel,clusterId,clusterRadius,label,distance,secondDistance,0,1,2,...,14,15,16,17,18,19,20,21,22,class
0,0,N,18,1.826296,N,0.600331,1.316728,0.000000,0.000000,0.000000,...,0,0,0,0,0,1,0,0,A,A
1,1,N,19,1.026340,N,0.486099,1.401786,0.049349,0.486667,0.918966,...,0,0,0,0,0,0,1,0,A,A
2,2,N,18,1.826296,N,0.600331,1.316728,0.000000,0.000000,0.000000,...,0,0,0,0,0,1,0,0,A,A
3,3,N,18,1.826296,N,0.600331,1.316728,0.000000,0.000000,0.000000,...,0,0,0,0,0,1,0,0,A,A
4,4,N,18,1.826296,N,0.594241,1.163103,0.000000,0.000000,0.000000,...,0,0,0,0,0,1,0,0,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653452,653452,N,12,1.393900,N,0.099933,1.831068,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,1,A,A
653453,653453,N,2,1.162884,N,0.553567,2.285989,0.035678,0.007556,0.132759,...,0,0,1,0,0,0,1,0,N,N
653454,653454,N,59,1.070721,N,0.067446,0.618182,0.000168,0.019556,0.025172,...,1,0,0,0,0,1,0,0,N,N
653455,653455,N,79,0.358526,N,0.081240,0.121118,0.000217,0.018667,0.028966,...,1,0,0,0,0,1,0,0,N,N
653456,653456,N,12,1.393900,N,0.099933,1.831068,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,1,A,A

In [41]:
confusion_matrix = pd.crosstab(df['class'], df['label'], rownames=['Actual'], colnames=['Predicted'])
confusion_matrix['total'] = sum([confusion_matrix[col] for col in confusion_matrix.columns])
confusion_matrix = confusion_matrix.transpose()
confusion_matrix['total'] = sum([confusion_matrix[col] for col in confusion_matrix.columns])
print("Confusion Matrix")
print(confusion_matrix)

In [7]:
print("Total examples", examplesDf['#pointId'].count())
print("Total matches", matchesDf['#pointId'].count())

Total examples 653457
Total matches 653457

In [8]:
totalExamples = examplesDf['#pointId'].count()
totalMatches = matchesDf['#pointId'].count()
hits = df[df['label'] == df["class"]]['#pointId'].count()
misses = df[df['label'] != df["class"]]['#pointId'].count()

print('Total examples   %8d' % (totalExamples))
print('Total matches    %8d' % (totalMatches))
print('Hits             %8d (%10f%%)' % (hits, (hits/totalExamples) * 100.0))
print('Misses           %8d (%10f%%)' % (misses, (misses/totalExamples) * 100.0))
print('Hits + Misses    %8d (%10f%%)' % (hits + misses, ((hits + misses)/totalExamples) * 100.0))

Total examples     653457
Total matches      653457
Hits               205961 ( 31.518677%)
Misses             447496 ( 68.481323%)
Hits + Misses      653457 (100.000000%)